@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="tests">
    
    @if (Model.Tests == null)
    {
    <div class="tests">
        <h1 style="text-align:center">Welcome to MyPersonas!</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/"> Take a Personality Test</a></li>
            <li class="list-group-item"><a href="/TestList">View Tests</a></li>
            <li class="list-group-item"><a href=" /TesteeList">View Testees</a></li>

        </ul>

    </div>

        
    }

    else
    {
        @foreach (var tests in Model.Tests)
        {
            <h2>tests.DateTaken?.ToString()</h2>

            <ul>
                @foreach (var test in tests)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card shadow session h-100">
                            <div class="card-header">@test.DateTaken</div>
                            </div>
                        </div>
                    <li>
                        <p>View test</p>
                        <a asp-page="Test" asp-route-id="@test.Id">@test.Type</a>
                    </li>
                    }
                </ul>
        }
    }


</div>
