@page
@model MyPersonasFrontEnd.Pages.ResultsModel
@{
}

<body>
    <br><center><a href="/"><img src="http://www.careerizma.com/wp-content/uploads/careerizma-logo-black.png" alt="Careerizma" style="width:180px;height:40px;"></a></center><br><div style="background-color: #8CBBB8; border-color: #ededed; border-style: solid; border-width: 1px 0 1px 0; padding: 0px 20px 0px 10px 0px;"><h1 align="center" style="color:white;">Personality Test Report Sample</h1></div><br><center><p><b>Full Name:</b> Jason Jones | <b>Age: </b>20   <b>Email: </b>jj@gmail.com</p></center><hr><br>
    <style type="text/css">
        html {
            margin-left: 100px;
            margin-right: 100px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="ct.css">
    <!--?php include("../lib/cmaheadtemplate.html"); ?-->


    <p>Thank you for completing MyPersonas</p>

  
    <center><img src="personality.png" alt="Personality Test"></center>
    <p>
        The basic idea here is to identify the key traits within your personality that can be considered, in
        isolation as well as in conjunction with each other, to form a better perception of who you are.
        Alright, let's get into the data now to see how that theory maps into some tangible statistics.
    </p><br>
    <h3>Here's what your Personality MAP™ looks like</h3>
    <p>The main traits of your personality are covered in the 20 attributes listed below. Based on your responses, each trait has been assigned a score ranging from 1 to 10. Ratings closer to the center indicate a balanced trait, while those away from it highlight a pre-disposition to one of the extreme qualities.</p>
    <br><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left">Attribute</th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Warmth</th>
                <td align="right">Reserved</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Outgoing</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Intellect</th>
                <td align="right">Less analytical</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Intellectual</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Emotional stability</th>
                <td align="right">Sensitive</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Stable</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Assertiveness</th>
                <td align="right">Submissive</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Dominant</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Gregariousness</th>
                <td align="right">Serious</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Happy-go-lucky</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Dutifulness</th>
                <td align="right">Expedient</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Conscientious</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Friendliness</th>
                <td align="right">Shy</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Socially bold</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Sensitivity</th>
                <td align="right">Tough-minded</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Sensitive</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Distrust</th>
                <td align="right">Trusting</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Cautious</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Imagination</th>
                <td align="right">Practical</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Imaginative</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Reserve</th>
                <td align="right">Forthright</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Astute</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Anxiety</th>
                <td align="right">Self-assured</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Apprehensive</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Complexity</th>
                <td align="right">Conservative</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Experimenting</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Introversion</th>
                <td align="right">Group-controlled</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Self-sufficient</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Orderliness</th>
                <td align="right">Impulsive</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Controlled</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Emotionality</th>
                <td align="right">Relaxed</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Tense</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Leadership</th>
                <td align="right">Follower</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Leader</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Efficiency</th>
                <td align="right">Laidback</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Driven</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Organization</th>
                <td align="right">Casual</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Thorough</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
            <tr>
                <th align="left">Competence</th>
                <td align="right">Learner</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Proficient</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="20"></td>
            </tr>
        </tbody>
    </table><br><p></p><h3>Let's understand each attribute</h3><p>Your responses have given us enough data to analyze your personality. Here's how we break it down into each of the 20 distinct attributes.</p><br><h4>1. Warmth</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 6</th>
                <td align="right">Reserved</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Outgoing</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Warmth provides an indication of how approachable you are and how willing you are in reaching out and connecting with people. Folks with a high score can be described as participative, outgoing, kind and considerate to others. <br>Those with a low score are likely to be perceived as being distant, impersonal, formal and aloof.<br>Your rating for Warmth is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>2. Intellect</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 4</th>
                <td align="right">Less analytical</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Intellectual</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Intellect provides an idea of your mental &amp; reasoning capabilities. Those with a high score are thought to be brighter, fast learners and in general, more intelligent. <br>People with a lesser score may find it tougher to handle abstract problems and perceived to have a lower mental capacity.<br>(This is based on your self-perception. Those around you might have a different view)<br>Your rating for Intellect is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>3. Emotional stability</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 5</th>
                <td align="right">Sensitive</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Stable</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Emotional stability indicates how well you can handle stress. Those who are easily upset or significantly affected by feelings will tend to have lower scores for this trait. <br>On the other hand, people who are able to face reality in a calm, mature and adaptive manner would score high. <br>Your Emotional stability rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>4. Assertiveness</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 5</th>
                <td align="right">Submissive</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Dominant</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Assertiveness is an attribute that measures your level of aggression. Those who score high could be perceived to be forceful, competitive stubborn. At the extreme end, it could also translate to being bossy and dominating. Low scorers can be looked as cooperative, humble, docile, accommodating and avoiding conflict. Very low scorers might be easily led. <br>Your Assertiveness rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>5. Gregariousness</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 6</th>
                <td align="right">Serious</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Happy-go-lucky</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Gregariousness reflects your level of liveliness and enthusiasm. High scorers tend to be animated, cheerful, more expressive and to an extent, impulsive. <br>People who are restrained, silent, serious and introspective are more likely to score low here. <br>Your rating for Gregariousness is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>6. Dutifulness</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 4</th>
                <td align="right">Expedient</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Conscientious</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Dutifulness indicates the level of rule-consciousness. People who get high scores for this attribute will most likely come across as conforming, rule-bound, moralistic and conscientious. <br>A low score here could highlight a self-indulgent, non-conforming person who may be more prone to disregard rules. <br>Your Dutifulness rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>7. Friendliness</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 4</th>
                <td align="right">Shy</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Socially bold</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Friendliness can indicate the level of your social skills. Socially bold folks tend to score high. They could come across as uninhibited and also on occasions, thick-skinned. <br>In contrast, people who are shy would score lower. They may be perceived as hesitant, intimidated, threat-sensitive and timid. <br>Your Friendliness rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>8. Sensitivity</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 5</th>
                <td align="right">Tough-minded</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Sensitive</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Sensitivity tries to measure how tender-minded you are. If you scored high, you'd be more compassionate and sympathetic towards others. Your intuition and aesthetic skills would be more refined. <br>On the other hand, if your score for this trait is low, you are likely to be self-reliant, objective, utilitarian and sometimes, rough as well. <br>Your sensitivity rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>9. Distrust</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 5</th>
                <td align="right">Trusting</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Cautious</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Distrust is an indicator of how suspicious you might be of people around you. A high score shows a bias towards being skeptical and oppositional. The distrustful nature makes you more vigilant. <br>A low score indicates a trusting, accepting, unsuspecting and easy demeanor. <br>Your distrust rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>10. Imagination</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 6</th>
                <td align="right">Practical</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Imaginative</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Imagination can convey whether you are solution-oriented or absorbed in the world of ideas. A low score indicates that the candidate is grounded, steady, practical and believes in conventional approaches. <br>High scorers are more likely to enjoy abstractedness. Being imaginative could also label them as being absent-minded and lost in their own world. <br>Your Imagination rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>11. Reserve</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 5</th>
                <td align="right">Forthright</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Astute</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Reserve refers to how open or shrewd you are. Getting a high score would attract adjectives such as diplomatic, non-disclosing, polished, worldly and private. <br>In contrast, those who are genuine, involved, guileless, naive, or forthright will get low scores for this trait. <br>Your Reserve rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>12. Anxiety</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 6</th>
                <td align="right">Self-assured</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Apprehensive</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Anxiety levels highlight whether you are secure or insecure in tough situations. High anxiety levels (translating to a high score) could be indicative of worrying, self-blaming, self-doubting and apprehensive. <br>On the other hand, low anxiety is linked to being confident, self-satisfied, complacent and unworried in testing situations. <br>Your Anxiety rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>13. Complexity</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 6</th>
                <td align="right">Conservative</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Experimenting</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Complexity tries to capture how open you are to change. Those who are have a liberal, experimental, free-thinking, analytical and flexible outlook would score high. <br>Those who score low would prefer being attached to familiar and traditional options. They are less likely to venture out into the unknown.<br>Your Complexity rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>14. Introversion</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 6</th>
                <td align="right">Group-controlled</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Self-sufficient</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Introversion indicates whether the individual is self-reliant or dependent on others. Low scorers would feel more energized in a group setting. The feeling of being a follower, a joiner and an affiliate is a source of comfort.<br>In contrast, solitary and individualistic people would score higher. Being resourceful makes them self-sufficient and less relying on a group. <br>Your Introversion score is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>15. Orderliness</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 5</th>
                <td align="right">Impulsive</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Controlled</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Orderliness points at how self-disciplined you are. A high score here indicates that you are more of a perfectionist - someone who's organized, controlled, compulsive and self-sentimental. <br>The other side (for those who score low) means you are more flexible in tolerating disorder, impulsive, unexacting, undisciplined, lax and careless of social rules.<br>Your orderliness rating is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>16. Emotionality</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 5</th>
                <td align="right">Relaxed</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Tense</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Emotionality is different from Emotional Stability. This trait aims to capture whether you are calm or high-strung. Lower scores point at a relaxed, patient, tranquil, placid individual. <br>Those who are tense, have high energy levels, time-driven and generally on the edge will score high for this attribute.<br>Your score for Emotionality is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>17. Leadership</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 6</th>
                <td align="right">Follower</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Leader</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Leadership indicates if you are more likely to initiate or adopt change. High scores are initiators. They proactively act as agents of change and willing to shoulder responsibility in order to create new paths. <br>Those who score low would be responders who'd embrace change rather than drive it. As they are happy with status quo, there's a higher tendency to avoid responsibility and adopt the path of least resistance.<br>Your score for Leadership is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>18. Efficiency</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 5</th>
                <td align="right">Laidback</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Driven</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Efficiency tries to measure whether candidates are driven or casual in their approach to work and life. Those who score high are rigorous and diligent. As finishers, they are likely to follow-up on pending tasks and aim for a clean table. <br>Folks who score low may have starting trouble. Due to their procrastination and absent-mindedness, time isn't used very efficiently.<br>Your score for Efficiency is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>19. Organization</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 4</th>
                <td align="right">Casual</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Thorough</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Organization attempts to capture whether you'd take a telescopic or microscopic view of things. With a high score, candidates would be committed and quality / detail oriented. Others may describe them as planners and perfectionists. <br>People with a low score are likely to lose interest quickly as they are unfocused and have a short attention span. <br>Your score for Organization is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h4>20. Competence</h4><table align="center" cellspacing="0" cellpadding="5px">
        <tbody>
            <tr>
                <th align="left"></th>
                <th align="right">Low</th>
                <th style="width:5px"></th>
                <th bgcolor="#efefef" style="width:18px;height=10px">1</th>
                <th bgcolor="#efefef" style="width:18px">2</th>
                <th bgcolor="#efefef" style="width:18px">3</th>
                <th bgcolor="#efefef" style="width:18px">4</th>
                <th bgcolor="#efefef" style="width:18px">5</th>
                <th bgcolor="#efefef" style="width:18px">6</th>
                <th bgcolor="#efefef" style="width:18px">7</th>
                <th bgcolor="#efefef" style="width:18px">8</th>
                <th bgcolor="#efefef" style="width:18px">9</th>
                <th bgcolor="#efefef" style="width:5px">10</th>
                <th align="left">High</th>
            </tr>
            <tr>
                <th align="left">Score: 4</th>
                <td align="right">Learner</td>
                <td style="width:5px"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;">⚫</td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td bgcolor="#f9f9f9" style="height:1px;"></td>
                <td>Proficient</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th style="width:5px"></th>
                <td colspan="10" bgcolor="#efefef" height="10"></td>
            </tr>
        </tbody>
    </table><p>Competence highlights the level of proficiency. High scoring candidates are inquisitive, quick learners, mentally sharp. They chase excellence and are fact-oriented.<br>Those with low scores need direction and hand-holding. There may be a need for them to be explained multiple times before they grasp the idea.<br>Your score for Competence is <b>Average.</b></p><hr style="color:#f8f8f8;border-width:1px;background-color:#f8f8f8"><h2>FAQ</h2>
    <p><b>Q.</b> How can I use this report in my personal life?<br><b>A.</b> The report is just a preliminary tool to trigger introspection. As the next step, you could evaluate if the contents of the report are intuitively in sync with your perception - about your strengths, your weakness, your behavior. Use it as a mirror to improve yourself. You can also use it to become aware of how others might try to exploit your shortcomings to their own advantage. Keep in mind that your personality traits will change over time. So this report does have a shelf-life too. Re-take the test in a few years to see what has changed.</p><p><b>Q.</b> How can I use this knowledge in my professional life?<br><b>A.</b> A majority of the top companies use personality tests as an additional data point (apart from technical skills, qualifications and overall experience) to decide if a candidate is a good fit for the position. You already know about the information you gave them in the resume and the interview. With this report, you also have an insight into the third mysterious black-box. Use it to target the right roles where your personality as well as your professional goals fit well.</p>
    <p><b>Q.</b> Is this report foolproof? <br><b>A.</b> No, it isn't. Primarily because there's too much subjectivity involved in gathering, processing and presenting the data. We are trying to take a bunch of intangible attributes and forcing them into a tangible form, purely to reduce the complexity involved in the process of understanding the human personality. So be aware of its limitations and use it purely as an extra data point that provides a relatively neutral, third-party perspective.</p><p><b>Q.</b> Can I share the report with my employer or educational institution?<br><b>A.</b> Due to the limitations mentioned earlier, this report is meant purely for your own consumption. Use it for your self-awareness. The utility of this report would quite limited / negligible to external entities who haven't provided us with any framework or methodology to work with. They probably have their own internal process to get a similar report. But here's the good news. When you go through their recruiting process, you'll be better prepared!</p>
   
   

</body>
