@page "{id}"
@model MyPersonasFrontEnd.Pages.TestsModel
@{
    ViewData["Title"] = "Tests";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
</ol>

<h3> Test data </h3>
<li class="breadcrumb-item active">You have been assigned a test type: @Model.Tests.Type</li>
<li class="breadcrumb-item active">State of Test: @Model.Tests.TestState</li>
<li class="breadcrumb-item active">Test was taken on date: @Model.Tests.DateTaken</li>

