@page
@model MyPersonasFrontEnd.Pages.TestListModel
@{
    <h3>Welcome!</h3>
}
<h1>Tests</h1>



<div class="test-list" font-size="5">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><p font-size="10" font-weight="bold">Test Id &nbsp;Test Type &nbsp; State of Test</p></li>
    </ul>

        @foreach (var test in Model.Tests)
        {
            <ul class="list-group list-group-flush">
                @foreach (var type in test.Type)
                {

                    <li class="list-group-item"><a asp-page="Tests" asp-route-id="@test.Id">@test.Id &nbsp;</a>@test.Type &nbsp; @test.TestState</li>
                }
            </ul>




        }

</div>
