@page
@model MyPersonasFrontEnd.Pages.Admin.CreateTestModel
@{
    byte[] buffer = Guid.NewGuid().ToByteArray();
    var num = BitConverter.ToInt32(buffer, 8);

    var date = DateTime.Today;
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
</ol>

<h3 style="text-align:center">Create Test</h3>

@if (Model.ShowMessage)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
        @Model.Message
    </div>
}

<form method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Tests.Id" type="hidden" value="@num" readonly />
    <div class="form-group">
        <label class="col-md-2 control-label"><b>Test Date</b></label>
        <div class="col-md-10">
            <input asp-for="Tests.DateTaken" type="text" class="form-control" placeholder="@DateTime.Today" value="@DateTime.Today" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"><b>Test Type</b></label>
        <div class="col-md-10">
            <textarea class="form-control" asp-for="Tests.Type" placeholder="Enter Test Type"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"><b>State of Test</b></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="Tests.TestState"  placeholder="Enter Test State"/>
        </div>
    </div>


   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary" >Create test</button>
        </div>
    </div>
</form>
