@page
@model MyPersonasFrontEnd.Pages.Admin.CreateQuestionsModel
@{
    byte[] buffer = Guid.NewGuid().ToByteArray();
    var num = BitConverter.ToInt32(buffer, 8);


}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
</ol>

<h3 style="text-align:center">Create Questions</h3>

@if (Model.ShowMessage)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
        @Model.Message
    </div>
}

<form method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Quests.Id" type="hidden" value="@num" readonly />
    <input asp-for="Quests.Answer" type="hidden" value="null" readonly />
    <div class="form-group">
        <label class="col-md-2 control-label"><b>Question Number</b></label>
        <div class="col-md-10">
            <input type="number" asp-for="Quests.Number" class="form-control" placeholder="Enter Question Number" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"><b>Question</b></label>
        <div class="col-md-10">
            <textarea class="form-control" asp-for="Quests.Question" placeholder="Enter Question"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"><b>State of Question</b></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="Quests.State" placeholder="Enter Question State" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Create Question</button>
        </div>
    </div>
</form>
