@page
@model MyPersonasFrontEnd.Pages.Admin.InputTestIDModel
@{
}

<div class="form-group">
    <label class="col-md-2 control-label">Enter Test ID to modify</label>
    <div class="col-md-10">
        <textarea class="form-control"></textarea>
    </div>
</div>
