@page
@model MyPersonasFrontEnd.Pages.TesteeListModel
@{
}

<h1>Testees</h1>



<div class="row" font-size="5">
    <div class="col-md-8">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><p font-size="10" font-weight="bold"><b>Username</b> &nbsp;<b>Name</b> &nbsp; <b>Surname</b> &nbsp; <b>Assigned Test ID </b></p></li>
        </ul>

        <div class="row">
            @foreach (var testee in Model.Testees)
            {
                <ul class="list-group list-group-flush">
                    @foreach (var t in testee.Test)
                    {

                        <li class="list-group-item">
                            <a asp-page="Testee" asp-route-id="@testee.Id"></a> @testee.Name&nbsp;@testee.Surname &nbsp;
                            @t.Id
                        </li>
                    }
                </ul>




            }
        </div>
    </div>
   </div>
